# systemd service for managing all rspamd autoconfiguration.

[Unit]
Description=Rspamd Configuration Autodiscovery
#Requires=rspamd.service
#PartOf=rspamd.service
#ReloadPropagatedFrom=rspamd.service
Before=rspamd.service
Before=postfix-autodiscovery.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/rspamd
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/rspamd
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

